.App {
  width: 100%;
  height: 740px;
  background-color: rgb(220, 238, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(135, 222, 208);
  width: 450px;
  border-radius: 20px;
  padding: 50px;
}

.headings h1 {
  text-align: center;
  text-decoration: wavy;
  color: rgb(54, 54, 54);
  margin: 10px;
}

.headings p {
  text-align: center;
  font-weight: 700;
  color: rgb(54, 54, 54);
  text-shadow: 3px 1px 6px;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(117, 183, 241);
  height: 150px;
  border-radius: 20px;
  box-shadow: 3px 2px 1px 0px;
  margin: 20px;
}

.total h1 {
  font-size: xx-large;
  font-weight: 900;
}


.total p {
  color: rgb(1, 37, 38);
  margin: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.in {
  margin-top: 10px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

}